#test {
  color: #333;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#content {
  background-color: #fff;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#generate-btn {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#generate-btn:hover {
  background-color: #555;
}
