.dinoTable_wrapper_ranges {
  font-family: "Balsamiq Sans", cursive;
  display: flex;
  flex-direction: row;
  padding: 0 0 30px 0;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .ranges_calendars {
    gap: 15px;
    display: flex;
  }

  .ranges_buttons {
    font-family: "Balsamiq Sans", cursive;
    display: flex;
    gap: 10px;
  }

  &_button {
    cursor: pointer;
    text-align: center;
    transition: all 0.6s ease;
      &:hover {
        background-color: #274540;
        transform: scale(1.05);
      }
    &_active {
      cursor: pointer;
      background-color: #274540;
      margin-top: 20px;
      width: 90px;
      transform: scale(1.05);
      height: 60px;
      font-size: 20px;
      color: #fff;
      border: 1px white solid;
      border-radius: 15px;
    }
    margin-top: 20px;
    width: 90px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    background-color: #38625a;
    border: 1px white solid;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .dinoTable_wrapper_ranges {
    .ranges_calendars {
      display: flex;
      flex-direction: column;
    }

    .ranges_buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin-top: 5px;
    }
    &_button {
      margin-top: 0;
      width: 90px;
      height: 50px;
      font-size: 18px;
      border: 1px white solid;
      border-radius: 10px;

      &_active {
        background-color: #274540;
        margin-top: 0;
        width: 90px;
        height: 50px;
        font-size: 18px;
        border: 1px white solid;
        border-radius: 10px;
      }
    }
  }
}

.modal_button_wrapper {
  display: flex;
  justify-content: space-between;
}
